<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="MySMSWebChat.MySMSWebChat" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<application android:allowBackup="true" android:label="@string/app_name" android:theme="@style/Theme.Custom1" android:icon="@drawable/ic_applauncher2"></application>
</manifest>